@import '../../styles/global.scss';

.header-wrapper {
  display: block;
  background-color: $primary-main;
  font-weight: bold;
  font-size: $paragraph;
  color: $primary-white;
  text-align: center;
  padding: 10px;
  text-decoration: none;

  &:focus, &:hover {
    background-color: $primary-dark;
  }
}